#header{
    display: flex;
    height: 50px;
    width: 100vw;
    padding: 5px 20px;
    align-items: center;
    background-color:#2874f0 ;
    color: white;
}

.subHead{
    display: flex;
    align-items: center;
}

.sub1 svg{
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
    
}
.sub1 p{
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.sub2{
    background-color: #ffffff;
    margin-left: 100px;
    margin-right: 10px;
    border: #ffffff;
    border-radius: 5px; 
    padding: 5px 10px;
}

.sub2 input {
    width: 400px;
    outline: none;
    font-size: 16px;
    border: none;
}
.sub2 svg {
    color: #2874f0;
    margin: 0px 10px;
    cursor: pointer;
}

.sub3 button{
    padding: 6px 20px;
    background-color: #ffffff;
    color:#2874f0;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.sub4 {
    margin-left: 200px; 
}

.sub4 svg{
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
}

